form {
	width: 350px;
	margin: 0 auto;
}

label {
	float: left;
	text-align: right;
	font-weight: bold;
	width: 35%;
}

.row input{
	float: right;
	width: 60%;
}

.row {
	margin-bottom: 5px;
	width: 100%;
}

.row {
	clear: both;
	margin-top: 5px;
}

.clearFix {
	display: inline-block;
}

fieldset {
	border: none;
	padding: 10px;
	margin-bottom: 10px;
}

#submit-row {
	width: 100%;
}

.submit {
	float: right;
}

#message {
	display: none;
	color: red;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

caption {
  font-size: 1.7em;
  font-weight: bold;
}

th {
  font-size: 1.4em;
  font-weight: bold;
}

th, td {
  border: 1px solid #c9c9c9;
  padding: 1px 4px;
}

td {
  font-size: 1.2em;
}

tfoot {
  background-color: #dddddd;
  color: #555555;
}

tbody tr.alt td {
  background: #e7edf6;
}

tbody tr:hover td, tbody tr.over td {
  background: #5389d7;
  color: #ffffff;
}

tbody td {
  border-top: 0;
  border-bottom: 0;
}
